Package: media-buster-legacy-tinkerboard
Version: 20.11.3
Architecture: armhf
Maintainer: JMCC <JMCC@localhost>
Installed-Size: 1
Section: x11
Priority: optional
Depends: linux-image-legacy-rockchip, libmali-rk-midgard-t76x-r14p0-r0p0, xserver-xorg-core-rockchip, librockchip-mpp1, librockchip-vpu0, gstreamer1.0-rockchip1, gstreamer1.0-rockchip1-extra, qtmultimedia5-examples, qtgstreamer-plugins-qt5, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly, gstreamer1.0-plugins-good, kodi-rk, mpv-legacy
Recommends: kodi-addons-full, gl4es
Replaces: armbian-bsp, linux-buster-root-legacy-tinkerboard, armbian-buster-desktop
Description: Enables multimedia HW acceleration for tinkerboard (legacy branch)
